<div class="flex flex-col w-screen py-24 space-y-16 items-center">
    <div class="flex w-[1280px] px-8 justify-center">
      <div class="flex flex-col w-[768px] space-y-5 items-center">
        <p class="text-4xl font-semibold text-[#101828]"> Mentor </p>
        <p class="text-xl font-regular text-[#667085]"> Dipandu oleh Mentor Terbaik Kami </p>
      </div>
    </div>

    <div class="w-[1280px] px-8 space-y-16">
      <div class="flex w-full space-x-8">
        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-1.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Agnes Amanta </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Founder & CEO </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Former co-founder of Opendoor. Early staff at Spotify and Clearbit. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-2.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Kajen Permadi </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Engineering Manager </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Lead engineering teams at Figma, Pitch, and Protocol Labs. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-3.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Natsir Naradi </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Product Manager </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Former PM for Linear, Lambda School, and On Deck. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-4.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Rahimah Gilda </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Frontend Developer </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Former frontend dev for Linear, Coinbase, and Postscript. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-full space-x-8">
        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-5.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Suartini Novi </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Backend Developer </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Lead backend dev at Clearbit. Former Clearbit and Loom. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-6.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Hannah Airlangga </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Product Designer </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Founding design team at Figma. Former Pleo, Stripe, and Tile. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-7.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Firman Kurniawan </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> UX Researcher </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Lead user research for Slack. Contractor for Netflix and Udacity. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 p-6 items-center bg-[#F9FAFB]">
          <img src="/images/mentor/mentor-8.png" class="h-20 w-20">
          <div class="w-full space-y-4">
            <div class="w-full space-y-2"> 
              <div class="w-full">
                <p class="text-lg font-semibold text-[#101828] text-center"> Mario Agustinus </p>
                <p class="text-md font-regular text-[#6941C6] text-center"> Customer Success </p>
              </div>
              <p class="text-md font-regular text-[#667085] text-center"> Lead CX at Wealthsimple. Former PagerDuty and Screen. </p>
            </div>
            <div class="flex w-full space-x-4 justify-center">
              <img src="/images/social-icons/social-icon-1.png">
              <img src="/images/social-icons/social-icon-2.png">
              <img src="/images/social-icons/social-icon-3.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>