<div class="w-[384px] rounded-2xl drop-shadow-lg border border-[#EAECF0]">
    <img src="/images/Card Image.png" class="rounded-t-2xl">
    <div class="w-full px-8 py-4 space-y-1">
      <p class="text-xl font-semibold text-[#101828]"> Web Development Bootcamp </p>
      <p class="text-md font-regular text-[#667085]"> Batch 12 </p>
    </div>
    <div class="w-full px-8 py-6 space-y-4">
      <div class="flex space-x-3">
        <img src="/images/Check icon.png">
        <p class="text-md font-regular text-[#667085]"> Certified Mentor </p>
      </div>
      <div class="flex space-x-3">
        <img src="/images/Check icon.png">
        <p class="text-md font-regular text-[#667085]"> Integrated Module </p>
      </div>
      <div class="flex space-x-3">
        <img src="/images/Check icon.png">
        <p class="text-md font-regular text-[#667085]"> Online Class </p>
      </div>
      <div class="flex space-x-3">
        <img src="/images/Check icon.png">
        <p class="text-md font-regular text-[#667085]"> Active Community </p>
      </div>
    </div>

    <div class="flex w-full px-8 py-2 justify-between items-center">
      <s class="text-md font-normal text-[#667085]"> Rp. 1.499.000 </s>
      <p class="text-xl font-bold text-[#101828]"> Rp 899.000 </p>
    </div>

    <div class="w-full px-8 pb-8">
      <button class="detailsButton w-full px-5 py-3 drop-shadow-sm rounded-lg border border-[#7F56D9] bg-[#7F56D9]">
        <p class="text-md font-semibold text-white"> Daftar Sekarang </p>
      </button>
    </div>
  </div>