<div class="flex flex-col w-screen pt-16 pb-12 space-y-16 items-center">
    <div class="flex w-[1280px] px-8">

      <div class="w-full space-x-8">
        <div class="space-y-4">
          <p class="text-sm font-semibold text-[#98A2B3]"> Product </p>
          <div class="flex flex-col w-full space-y-3 items-start">
            <button> <p class="text-md font-semibold text-[#667085]"> Overview </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Features </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Solutions </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Tutorials </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Pricing </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Releases </p> </button>
          </div>
        </div>
      </div>

      <div class="w-full space-x-8">
        <div class="space-y-4">
          <p class="text-sm font-semibold text-[#98A2B3]"> Product </p>
          <div class="flex flex-col w-full space-y-3 items-start">
            <button> <p class="text-md font-semibold text-[#667085]"> About us </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Careers </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Press </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> News </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Media kit </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Contact </p> </button>
          </div>
        </div>
      </div>

      <div class="w-full space-x-8">
        <div class="space-y-4">
          <p class="text-sm font-semibold text-[#98A2B3]"> Product </p>
          <div class="flex flex-col w-full space-y-3 items-start">
            <button> <p class="text-md font-semibold text-[#667085]"> Blog </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Newsletter </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Events </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Help centre </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Tutorials </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Support </p> </button>
          </div>
        </div>
      </div>

      <div class="w-full space-x-8">
        <div class="space-y-4">
          <p class="text-sm font-semibold text-[#98A2B3]"> Product </p>
          <div class="flex flex-col w-full space-y-3 items-start">
            <button> <p class="text-md font-semibold text-[#667085]"> Startups </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Enterprise </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Government </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> SaaS </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Marketplaces </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Ecommerce </p> </button>
          </div>
        </div>
      </div>

      <div class="w-full space-x-8">
        <div class="space-y-4">
          <p class="text-sm font-semibold text-[#98A2B3]"> Product </p>
          <div class="flex flex-col w-full space-y-3 items-start">
            <button> <p class="text-md font-semibold text-[#667085]"> Twitter </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> LinkedIn </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Facebook </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> GitHub </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> AngelList </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Dribbble </p> </button>
          </div>
        </div>
      </div>

      <div class="w-full space-x-8">
        <div class="space-y-4">
          <p class="text-sm font-semibold text-[#98A2B3]"> Product </p>
          <div class="flex flex-col w-full space-y-3 items-start">
            <button> <p class="text-md font-semibold text-[#667085]"> Terms </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Privacy </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Cookies </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Licenses </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Settings </p> </button>
            <button> <p class="text-md font-semibold text-[#667085]"> Contact </p> </button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="w-[1280px] px-8 pt-8 border-t border-[#EAECF0]">
      <div class="flex w-full items-center justify-between">
        <img src="/images/logo edspert 1.png">
        <p class="text-md font-regular text-[#98A2B3]"> © 2077 Untitled UI. All rights reserved. </p>
      </div>
    </div>
  </div>