<div class="w-screen py-10">
    <div class="flex w-full px-6 pt-3 pb-4 justify-center">
      <div class="flex px-4 py-2.5 space-x-2 rounded-l-lg border border-[#D0D5DD]">
        <img src="/images/arrow-left.png" class="h-5 w-5">
        <p class="text-sm font-medium text-[#1D2939]"> Previous </p>
      </div>
      <div class="flex w-10 justify-center border-y border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> 1 </p>
        </div>
      </div>
      <div class="flex w-10 justify-center border-y border-x border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> 2 </p>
        </div>
      </div>
      <div class="flex w-10 justify-center border-y border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> 3 </p>
        </div>
      </div>
      <div class="flex w-10 justify-center border-y border-x border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> ... </p>
        </div>
      </div>
      <div class="flex w-10 justify-center border-y border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> 8 </p>
        </div>
      </div>
      <div class="flex w-10 justify-center border-y border-x border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> 9 </p>
        </div>
      </div>
      <div class="flex w-10 justify-center border-y border-[#D0D5DD] item">
        <div class="flex px-2 py-2.25 items-center"> 
          <p class="text-sm font-medium text-[#1D2939] text-center"> 10 </p>
        </div>
      </div>
      <div class="flex px-4 py-2.5 space-x-2 rounded-r-lg border border-[#D0D5DD]">
        <p class="text-sm font-medium text-[#1D2939]"> Next </p>
        <img src="/images/arrow-right.png" class="h-5 w-5">
      </div>
    </div>
  </div>